a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  min-height: 10vh;
  width: 100vw;
}

.logo {
  display: flex;
  color: #5e5e5e;
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 25px;
  width: 50vw;
  align-items: center;
}

.link {
  color: blue;
  cursor: pointer;
}

.link:hover {
  color: pink;
}

.home_buttons {
  display: flex;
}

.home_logout_button {
  align-items: center;
  border: whitesmoke solid 1px;
  border-radius: 12px;
  color: blue;
  font-size: 20px;
  background_color: transparent;
  padding: 20px 50px;
  cursor: pointer;
  text-transform: uppercase;
}

.home_logout_button:hover {
  color:pink;
}
