a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  position: absolute;
  width: 100vw;
}

.logo {
  display: flex;
  color: #5e5e5e;
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 25px;
  width: 50vw;
}

.link {
  color: blue;
  cursor: pointer;
}

.link:hover {
  color: pink;
}