@import "constants";

.updateStuff__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.updateStuff__form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.updateStuff__form__body {
  align-items: center;
  max-width: 80%;
  width: 100%;
  background-color: #6495EDFF;
  padding: 25px 30px;
  border-radius: 5px;
}

  .updateStuff__form__title {
    font-size: 2em;
    text-align: center;
    color: $my_blue;
  }


  .updateStuff__form__container__input {
    margin-top: 20px;
  }

    .updateStuff__form__category__select,
    .updateStuff__form__label__title,
    .updateStuff__form__label__category,
    .updateStuff__form__label__description,
    .updateStuff__form__label__price,
    .updateStuff__form__label__owner,
    .updateStuff__form__label__status,
    .updateStuff__form__label__reference,
    .updateStuff__form__label__city, {
      align-items: flex-start;
      color: #F5F5F5FF;
      margin-bottom: 100px;
      padding: 2.5px 20px;
    }

    .updateStuff__form__label__title, {
      font-weight: bolder;
    }


    .updateStuff__form__input__title,
    .updateStuff__form__input__textBox {
      padding: 2.5px 20px;
      width: 100%;
      margin-top: 10px;
    }

    .updateStuff__form__input__title {
      font-weight: bold;
    }

    .updateStuff__userChange__select {
      padding: 2.5px 20px;
      width: 100%;
      margin-top: 5px;
    }


.updateStuff__search__form__button {
  display: flex;
  margin: 20px auto;
  text-transform: uppercase;
  color: blue;
  font-size: 20px;
  padding: 20px 50px;
  cursor: pointer;
}


.updateStuff__errorForm {
  text-align: center;
  color: $error_red;
}

.updateStuff__successForm {
  text-align: center;
  color: $my_blue;
}